<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MySuite_1">
  <test thread-count="5" name="Test">
    <classes>
      <!-- <class name="testNG.FB_Login_Retesting_WithDataProvider"/> -->
      <class name="testNG.FBLogin"/>
      <class name="testNG.SBI"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
